<link rel="stylesheet" href="{{ "/assets/css/sidebar.css" | relative_url }}" media="screen and (min-width: 70em)">
<aside style="display: none">
  <div style="display: flex; flex-direction: column; height: 100%">
    <nav >
    {%- for item in site.navigation -%}
      {%- assign node = site.pages | where: "name", item.file | first -%}
      {%- assign url = item.url | default: node.url -%}
      {%- assign title = item.title | default: node.title -%}
      {%- assign icon = item.icon | default: item.sidebaricon -%}
      <a aria-label="{{ title }}" href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
        <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
        <span aria-hidden="true">{{ title }}</span>
      </a>

    {%- endfor -%}
    </nav>
    <separator></separator>
    <div style="margin-top: auto;">
      <nav>
      {%- for item in site.external -%}
        {%- assign node = site.pages | where: "name", item.file | first -%}
        {%- assign url = item.url | default: node.url -%}
        {%- assign title = item.title | default: node.title -%}
        {%- assign icon = item.icon | default: item.sidebaricon -%}
        <a aria-label="{{ title }}" target="_" href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
          <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
          <span aria-hidden="true">{{ title }}</span>
        </a>
      {%- endfor -%}
      </nav>
      <div style="font-size: 75%; align-self: flex-end; width: 100%"">
        <b>Rights</b>
        <br>
        The Tiny Leaders Website is Fan Content permitted under the Fan Content Policy. Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast and ©Wizards of the Coast LLC
      </div>
    </div>
  </div>
</aside>
